body {
    margin: 15px;
    height: 100vh;
    background: linear-gradient(287.56deg, #fff 0%, #6c626259 100%);
}

.titulo {
    padding: 20px;
    font-size: 50px;
    color: #fff;
   
}

.cabeça{
    display: flex;
    align-items: center;
    background: linear-gradient(287.56deg, #656565 0%, #05050559 100%) ;
    height: 100px;
    gap: 100px;
    justify-content: center;
    
}

.c2{
    color: rgb(35, 7, 197);
}

.c1{
    color:#8d0000;
}

.c3{
    color:#000000;
}

.jogo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.botao{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sair{
    display: flex;
    align-items: center;
    justify-content: center;


}

a{
    text-decoration: none;
}